body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    position: relative;
}

h1 {
    color: #333;
}

#countries-list {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    justify-content: center;
}

.country {
    width: 200px;
    background-color: white;
    padding: 5px;
    cursor: pointer;
}

.country img {
    width: 200px;
}

.country-info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid rgba(0, 0, 0, 0.224);
    border-radius: 25px;
    display: none;
    padding: 10px;
    background-color: white;
    width: 400px;
}

.country-info>div {
    display: flex;
}

.country-info .country-data {
    padding-left: 10px;
}

.country-info img {
    width: 200px;
}

.country-info.show {
    display: block;
}
